<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Visualization of Data Structures with D3.js</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="css/normalize.min.css">
    <link rel="stylesheet" href="css/main.css">

    <script type="text/javascript" src="//use.typekit.net/syo1mel.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
    <script src="js/vendor/modernizr-2.6.2-respond-1.1.0.min.js"></script>
  </head>
  <body>
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser.
        Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <div class="header-container">
      <header class="wrapper clearfix">
        <h1 class="title">Envisioning Data Structures</h1>
        <nav>
          <ul>
            <li><a href="#">About</a></li>
            <li><a href="#">Contact</a></li>
          </ul>
        </nav>
      </header>
    </div>

    <div class="main-container">
      <div class="main wrapper clearfix">

        <article>
          <header>
            <h1>Data Structures and Algorithms </h1>
            <h2>with <a href="http://d3js.org/">D3.JS</a></h2>
            <p>These web pages describe Data Structures and
            Algorithms visually. D3.js is a library for connecting
            SVG with Data. In high demand from employers, D3 is
            a perfect match for visualizing Data Structures and Algorithms,
            with JavaScript.</p>
          </header>
          <section>
            <h2>Weighted Quick Union</h2>
            <p>The Weighted Quick Union is an algorithm for solving
              Dynamic connectivity problems. Is site <code>p</code>
              connected to <code>q</code>? Each circle below
              represents a "site".</p>
            <div id="graph"></div>
            <form action="#">
              <fieldset>
                <p><label>Source node: <input type="text" size="4" name="source" id="source"></label></p>
                <p><label>Target node: <input type="text" name="target" size="4" id="target"></label></p>
                <p><input type="submit" value="Union!"></p>
              </fieldset>
            </form>

          </section>
          <footer>
            <h3>Credits</h3>
            <p>Code Fellows. Algorithms, 4th Edition, Data Structures and Algorithms in JavaScript</p>
          </footer>
        </article>

        <aside>
          <ul>
           <li><a href="#">Weighted Quick Union</a></li>
           <li><a href="#">Linked List</a></li>
         </ul>
        </aside>

      </div> <!-- #main -->
    </div> <!-- #main-container -->

    <div class="footer-container">
        <footer class="wrapper">
            <h3>footer</h3>
        </footer>
    </div>
    <script src="js/bundle2.js"></script>
  </body>
</html>
