<section>
  <h2>Weighted Quick Union</h2>
  <p>The Weighted Quick Union is an algorithm for solving
    Dynamic connectivity problems. Is site <code>p</code>
    connected to <code>q</code>? Each circle below
    represents a "site".</p>
  <div id="graph"></div>
  <form action="#">
    <fieldset>
      <p><label>Source node: <input type="text" size="4" name="source" id="source"></label></p>
      <p><label>Target node: <input type="text" name="target" size="4" id="target"></label></p>
      <p><input type="submit" value="Union!"></p>
    </fieldset>
  </form>
</section>
